
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-family: 'Rubik', sans-serif;
  background-color: hsl(226, 43%, 10%);
  color: white;
}
main {
  min-height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 100%;
  max-width: 1120px;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}
/* COLORS */
.bg-primary-400 { background-color: hsl(246, 80%, 60%); }
.bg-card-800 { background-color: hsl(235, 46%, 20%); }
.bg-card-header-work { background-color: hsl(15, 100%, 70%); }
.bg-card-header-play { background-color: hsl(195, 74%, 62%); }
.bg-card-header-study { background-color: hsl(348, 100%, 68%); }
.bg-card-header-excersie { background-color: hsl(145, 58%, 55%); }
.bg-card-header-social { background-color: hsl(264, 64%, 52%); }
.bg-card-header-self-care { background-color: hsl(43, 84%, 65%); }
/*fonts*/
.fw-light { font-weight: 350; }
.fw-regular { font-weight: 450; }
.fw-medium { font-weight: 550; }
.fs-300 { font-size: 0.9375rem; }
.fs-400 { font-size: 1.125rem; }
.fs-600 { font-size: 2.5rem; }

/* PROFILE CARD */
.profile__card {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  border-radius: 1rem;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto auto;
}
.profile__top {
  padding: 2rem;
}
.top-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.top-container img {
  width: 78px;
  height: 78px;
  border-radius: 70%;
  border: 3px solid white;
}
.top-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.profile__bottom {
  padding: 1.5rem;
  background-color: hsl(235, 46%, 20%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.profile__bottom a {
  text-decoration: none;
  color: hsl(235, 45%, 61%);
}
.profile__bottom a:hover,
.profile__bottom a:active,
.activated {
  color: white;
}
.card {
  position: relative;       
  border-radius: 1.5rem;
}
/* TOP STRIP (orange/blue/pink...) */
.card-top {
  height: 50px;
  background-repeat: no-repeat;
  background-position: right 10px top -5px;
}
/* Icons */
.work-card .card-top { background-image: url(../images/icon-work.svg); }
.play-card .card-top { background-image: url(../images/icon-play.svg); }
.study-card .card-top { background-image: url(../images/icon-study.svg); }
.exercise-card .card-top {
  background-image: url(../images/icon-exercise.svg);
  background-position: right 10px top 0;
}
.social-card .card-top { background-image: url(../images/icon-social.svg); }
.self-care-card .card-top { background-image: url(../images/icon-self-care.svg); }
/* BLUE CONTENT AREA */
.card-bottom {
  background-color: hsl(236, 47%, 19%);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 1rem;   
}
.card:hover .card-bottom {
  background-color: hsl(235, 44%, 39%);
}
.card-bottom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-type {
  font-size: 1.125rem;
  font-weight: 400;
}
.card-bottom-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.card-bottom-container h3 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.card-bottom-container p {
  font-size: 0.9375rem;
  color: hsl(235, 55%, 66%);
}
/* BUTTON DOTS */
.button {
  width: 20px;
  height: 20px;
  border: none;
  background: none;
  position: relative;
}
.button .dots,
.button::before,
.button::after {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 6px;
}
.button .dots { left: 8px; }
.button::before { content: ""; left: 2px; }
.button::after  { content: ""; right: 2px; }

/* MOBILE LAYOUT */
@media (max-width: 500px) {
  .container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .profile__card {
    grid-column: 1 / 2;
    grid-row: auto;
  }

  .work-card,
  .play-card,
  .study-card,
  .exercise-card,
  .social-card,
  .self-care-card {
    grid-column: 1 / 3;
  }

  .profile__bottom {
    flex-direction: row;
    justify-content: space-between;
  }

  .top-container {
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }

  .card-bottom-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .previous-hours {
    display: flex;
    align-items: center;
  }

  .card-bottom {
    gap: .5rem;
  }

  .card-bottom-container h3 {
    font-size: 2rem;
  }
}
